[user]
  email = cperois@protonmail.com
  name = Cyrille Perois
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  lg = log --oneline --graph
  pushf = push --force-with-lease
	ass = add
[rebase]
  autosquash = true
[core]
	fileMode = false
